.picture{
  width: 500px;
  height: 500px;
  margin: 20px;
  border: 5px solid black;
  display: inline-flex;
}

.pic1{
  background-image: url("./pic1.jpg");
  background-size: contain;
  background-color: black;
  background-repeat: no-repeat;
}

.pic2{
  background-image: url("./pic2.png");
  background-size: cover;
  background-position: center;
}